@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    transition: .3s linear;
    scroll-behavior: smooth;
}

html {
    font-size: 65%;
}

:root {
    --yellow: #fabe1b;
}

body {
    font-family: 'Quicksand', sans-serif;
}

section {
    padding: 2rem 10%;
}

.heading {
    text-align: center;
    padding: 3rem;
    line-height: 1.5;
}

h2 {
    font-size: 4rem;
    text-transform: capitalize;
}

/* Header */
header {
    padding: 1rem 9%;
    position: fixed;
    z-index: 1000;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.2);
}

header #toggler {
    display: none;
}

header .fa-bars {
    color: #fff;
    font-size: 3rem;
    border-radius: 0.5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: .1rem solid rgba(0, 0, 0, .1);
    display: none;
}

header img {
    width: 5rem;
}

header .nav-header a {
    font-size: 2rem;
    margin-left: 2rem;
    text-transform: capitalize;
    color: #fff;
}

header .nav-header a:hover {
    border-bottom: .1rem solid var(--yellow);
    color: var(--yellow);

}

/* home */
.home {
    background: url(./img/home_bg.jpeg) center center no-repeat;
    min-height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.home .content h1 {
    font-size: 4rem;
    font-weight: 600;
    color: #fff;
    text-transform: capitalize;
    padding-bottom: 1rem;
}

.home .content h1 span {
    color: var(--yellow);
}

.home .content p {
    color: #ffffffde;
    font-size: 1.5rem;
}

.home .content .btn {
    color: #fff;
    border: .1rem solid;
    padding: .75rem 2rem;
    border-radius: .75rem;
    font-size: 1.25rem;
    font-weight: 600;
    background: rgba(0, 0, 0, 0.2);
    display: block;
    width: 15rem;
    margin: 4rem 39%;
}

.home .content .btn:hover {
    transform: scale(1.11);
    background: var(--yellow);
}

/* About */
.about {
    background: #f4f4f4;
    padding-bottom: 4rem;
}

.about h2 {
    color: #383848;
}

.about h4 {
    color: #9999;
}

.about-content {
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 8rem;
    justify-content: space-between;
    align-items: center;
}

.about .text {
    max-width: 45rem;
    font-size: 1.5rem;
    color: #999;
}

.about .text p {
    color: #999;
    padding: 1rem 0;
}

.about .text hr {
    width: 60%;
    text-align: center;
    margin: 1rem auto;
    color: #383848;
}

.about .about-btn {
    display: block;
    padding: 1rem;
    background: #383848;
    color: #fff;
    border-radius: 1rem;
    width: 15rem;
    text-align: center;
    text-transform: uppercase;
    margin: 1.5rem 0;
    font-weight: 500;
}

.about .about-btn:hover {
    background: #272739;
    transform: scale(1.1);
}

.about-content .about-image {
    width: 35rem;
}

.about-content img {
    width: 100%;
}

/* offers */
.offers {
    background: url(./img/offer-background.jpg) center center/cover no-repeat;
}

.offers h2 {
    color: var(--yellow);
}

.offers h4 {
    color: #fff;
}

.offers-content {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.offers-content .offer {
    flex: 0 1 35rem;
    padding: 1rem;
    text-align: center;
}

.offers-content .offer .offer-image {
    width: 15rem;
    margin: 1rem auto;
}

.offers-content .offer .offer-image img {
    width: 100%;
}

.offers-content .offer .info h3 {
    font-size: 2rem;
    color: #fff;
    text-transform: capitalize;
    padding: 1rem;
}

.offers-content .offer .info p {
    font-size: 1.25rem;
    color: #ffffffde;
}

.offers-content .offer .info .price {
    padding: 1rem;
    font-size: 1.5rem;
    color: var(--yellow);
}

.offers-content .offer .info .price span {
    font-size: 1rem;
    color: #999;
    text-decoration: line-through;
}

/* Menue */
.menu {
    background: #f4f4f4;
}

.menu h2 {
    color: #383848;
}

.menu h4 {
    color: #999;
}

.menu .menu-content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 20rem;
}

.menu .menu-content .column {
    max-width: 32rem;
}

.menu .menu-content .column .meal {
    display: flex;
    padding: 2rem 0;
}

.menu-content .column .meal .meal-image {
    width: 8rem;
    margin-right: 2rem;
}

.menu-content .column .meal img {
    width: 100%;
    border-radius: 50%;
}

.menu-content .column .meal .info h3 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    color: #383848;
    text-transform: uppercase;
    font-size: 1.5rem;
    padding-bottom: 1rem;

}

.menu-content .column .meal .info h3 span {
    color: var(--yellow);
}

.menu-content .column .meal .info p {
    color: #666;
}

.menu .menu-btn {
    display: block;
    padding: 1.25rem;
    background: var(--yellow);
    color: #fff;
    border-radius: 1.25rem;
    width: 17rem;
    text-align: center;
    text-transform: uppercase;
    margin: 2.5rem auto;
    font-weight: 600;
    font-size: 1.25rem;
}

.menu .menu-btn:hover {
    background: #272739;
    transform: scale(1.1);
    /* background: #f4f4f4;
    color: var(--yellow);
    border: .1rem solid var(--yellow); */
}

/* servises */
.services {
    background: url(./img/daytime_bg.jpeg) center center/cover no-repeat;
    padding: 5rem 15%;
    text-align: center;
    color: #fff;
    filter: contrast(1.3);

}

.services-content {
    display: flex;
    gap: 5rem;
    align-items: center;
    justify-content: space-between;
}

.services-content .card {
    display: flex;
    align-items: center;
    height: 11rem;
    flex-direction: column;
    justify-content: space-between;
}

.services-content .image {
    width: 6rem;
}

.services-content .image img {
    width: 100%;
}

.services-content .info h3 {
    font-size: 2rem;
    font-weight: 800;
    text-transform: capitalize;
}

/* gallary */
.gallary {
    background: url(./img/offer-background.jpg) center center/cover no-repeat;
    padding: 6rem 10%;
}

.gallary h2 {
    color: #fff;
    padding-bottom: 2rem;
    font-size: 3rem;
}

.gallary-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 3rem;
    justify-content: center;
}

.gallary-content .image {
    width: 30rem;
    height: 23rem;
}

.gallary-content .image img {
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
}

/* Contact */
.contact {
    background: #f4f4f4;
    padding-top: 10rem;
}

.contact h3 {
    margin-bottom: 1rem;
    margin-top: 1rem;
    color: #383848;
    font-size: 2.5rem;
    text-transform: uppercase;
}

.contact span,
.contact p {
    color: #999;
    font-size: 1.25rem;
    text-transform: capitalize;
}

.contact-content {
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 3rem;
    justify-content: space-around;
}

.contact-content .col {
    line-height: 1.8;
    max-width: 40rem;
}

.contact-content .address i {
    font-size: 1.5rem;
    color: var(--yellow);
    margin-right: 1rem;
}

.contact-content .address a {
    color: #999;
}

.contact-content .follow i {
    margin-right: 1rem;
    font-size: 3rem;
    color: #272739;
}

.contact-content .follow i:hover {
    color: var(--yellow);
}

.contact-content form .input {
    border: none;
    border-radius: 1rem;
    padding: 1rem 1rem;
    text-transform: capitalize;
    width: 100%;
    margin: .5rem .25rem;
    font-size: 1.25rem;
    background: #ffebb45c;
}


.contact-content form textarea {
    height: 15rem;
    resize: none;
}

.contact-content form .btn {
    display: block;
    border: none;
    padding: 1.25rem;
    background: var(--yellow);
    color: #fff;
    border-radius: 1.25rem;
    width: 15rem;
    margin: .5rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.35rem;
}

.contact-content form .btn:hover {
    background: #272739;
    transform: scale(1.1);
}

/* footer */
footer {
    font-size: 1.5rem;
    text-transform: capitalize;
    background: #272739;
    color: #fff;
    padding: 2rem;
    text-align: center;
}

footer a {
    font-weight: bold;
    color:var(--yellow);
}

@media (max-width:768px) {
    .menu .menu-content {
        gap: 8rem;
    }
}

@media (max-width:600px) {
    html {
        font-size: 35%;
    }

    header .fa-bars {
        display: block;
    }

    header .nav-header {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.2);
        border-top: 1rem solid #e843930a;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header #toggler:checked~.nav-header {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    header .nav-header a {
        margin: 1.5rem;
        padding: 1.5rem;
        background-color: rgba(0, 0, 0, 0.2);
        border-bottom: .5rem solid #e8439300;
        display: block;
    }

    .about-content {
        text-align: center;
        gap: 4rem;
        justify-content: center;
    }

    .about-content .about-btn {
        margin: 1.5rem auto;
    }

    .menu .menu-content {
        gap: 8rem;
    }

    .contact-content .col {
        width: 40rem;
    }

    .contact-content {
        justify-content: center;
    }
}

@media (max-width:290px) {
    .menu .menu-content {
        flex-direction: column;
        gap: 0;
        align-items: center;
    }

    .services-content {
        gap: 2rem;
        justify-content: center;
    }
}
